/* Main Styles */




/* Variables declarations */

:root {
    --primary-color: #4033FF;
    --secondary-color: #c9c9c9;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
}

* {
    font-family: serif;
}




/* Navbar css */

nav {
    position: fixed;

    /* ToDo: Don't know why this is needed */
    width: 100%;

    padding: 2rem 1.75rem ;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    filter: brightness(2.5);
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
}

nav ul li + svg {
    margin-left: 3rem;
}

nav ul svg {
    width:1rem;
    height:1rem;
    fill: var(--secondary-text-color);
    margin-right: 0.5rem;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a {
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--secondary-text-color);
}





/* first section*/

header + section {

    /* ToDo: should check for better solution*/
    padding-top: 88px;

    background-image: url("../assets/images/Vector-Smart-Object.jpg");
    background-repeat: repeat-x;
    background-position: top;
    height: 100vh;
    background-size: 130% 100%;
    display: flex;
}

header + section > article:first-child {
    /*display: flex ;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100%;
    width: 50%;
}

header + section > article:nth-child(2) {
    /*display: flex ;*/
    position: relative;
    height: 100%;
    width: 50%;
}

header + section > article:nth-child(2) > img {
    position: absolute;
}

header + section > article:nth-child(2) > img:first-child {
    width: 65%;
    left: 20%;
    top: 10%;
}

header + section > article:nth-child(2) > img:nth-child(2) {
    width: 20%;
    top: 53%;
}

header + section > article:nth-child(2) > img:nth-child(3) {
    width: 40%;
    top: 40%;
    left: 30%;
}

header + section > article:nth-child(2) > img:nth-child(4) {
    width: 28%;
    top: 38%;
    left: 21%;
}
