:root {
    --primary-color: #4033FF;
    --primary-color-dark: #372bc7;
    --secondary-color: #2d2da6;
    --auxiliary-color : #EAEAFD;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --max-z-index: 100;
}

* {
    box-sizing: border-box;
}


body{
    display: flex;
}


/*panel-content*/
#panel-content{
    width: 85%;
    /*flex-grow: 1;*/
    margin: 3rem;
    background-color: var(--auxiliary-color);
    border-radius: 10px;
    padding: 2rem;
}




/*right-sidebar*/
.right-sidebar a,.right-sidebar a:hover {
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100%;*/
    text-decoration: none;
    color: var(--secondary-text-color);
}
.right-sidebar {
    width: 15%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    min-height: 100vh;
}
.right-sidebar img {
    margin: 1.5rem;
    filter: brightness(2.5);
}
.right-sidebar div a{
    /*display: flex;*/
    /*justify-content: space-between;*/
    font-size: larger;
    color: var(--secondary-text-color);
    text-align: end;
    padding: 1rem 2rem;
    cursor: pointer;
    transition-property: padding-right,padding-left;
    transition-duration: 0.25s;
    user-select: none;
    font-weight: bold;
}
.right-sidebar div a:hover{
    padding-right: 3rem;
    padding-left: 1rem;
}

.right-sidebar div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0 10px 10px 0;
}

.right-sidebar div.active {
    background-color: var(--secondary-text-color);

}

.right-sidebar div.active p,.right-sidebar div.active a{
    color: var(--primary-color-dark);
}

.right-sidebar div p {
    color: var(--secondary-text-color);
    padding-left: 1rem;
    user-select: none;
}

.right-sidebar li {
    cursor: pointer;
    text-align: end;
    padding: 1rem 3rem 0.5rem 0;
    color: var(--secondary-text-color);
    transition-property: padding-right,padding-left;
    transition-duration: 0.25s;
    margin: 0.5rem 0;
}

.right-sidebar li:hover {
    padding-right: 4rem;
}
.right-sidebar ul {
    background-color: var(--primary-color-dark);
    overflow-y: hidden;
    transition-property: max-height;
    transition-duration: 2s;
}
.right-sidebar ul:not(.active-sub) {
    /*padding: 0.5rem 0;*/
    max-height: 0;
    height: 0;

}
.right-sidebar ul.active-sub{
    max-height: 500px;
    height: auto;
}
.right-sidebar ul li.active-sub {
    background-color: var(--secondary-text-color);
    margin-right: 1rem;
    border-radius: 0 10px 10px 0;
}
.right-sidebar ul li.active-sub a {
    color: var(--primary-color-dark);
}